server:
  port: 8071

spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-location: "file:///Users//khommakara//Documents//raadev//config"
#          search-locations: "classpath:/config"
